
.calendar-container {
  font-family: 'Arial, sans-serif';
  max-width: 600px; 
  margin: 0 auto;
  padding: 5px; 
  margin-top: 10px;
  margin-bottom: 90px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.calendar-title {
  text-align: center;
  color: #333;
  margin-bottom: 5px; 
  font-size: 1.2rem; 
}



.fc {
  font-size: 10px; 
}

.fc-header-toolbar {
  margin-bottom: 5px; 
  padding: 2px; 
}

.fc-header-toolbar button {
  padding: 2px 4px; 
  font-size: 10px; 
}

.fc-daygrid-day {
  padding: 1px; 
}

.fc-daygrid-day-number {
  font-size: 10px;
  padding: 1px; 
}

.fc-col-header-cell {
  padding: 2px; 
  font-size: 10px; 
}

.fc-event {
  font-size: 8px; 
  padding: 1px; 
  margin: 1px; 
}


.fc-daygrid-day-frame {
  border: none;
}

.fc-daygrid-day-top {
  justify-content: center; 
}


@media (max-width: 768px) {
  .calendar-container {
    max-width: 100%; 
    padding: 2px; 
  }

  .fc-header-toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .fc-header-toolbar button {
    margin-top: 2px; 
  }
}
.inv
{
  display:none;
}

.event-details-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px;
  border-radius: 10px;
  width: 100%;
}

.event-details-box h2 {
  margin-top: 0;
}

.event-details-box button {
  margin-top: 10px;
  padding: 5px 10px;
  background: #0d1831;
  color: white;
  border-radius: 10px;
  border:none;
  cursor: pointer;
}

.event-details-box button:hover {
  background: #0056b3;
}